# Reading data into Pandas

#### Data is read into dataframes - which are tables
#### Data can be read from local files or from http:// locations

In [ ]:
import pandas as pd

## Reading a CSV which has a header and an index (1st column has serial numbers)
dataframe1 = pd.read_csv("D:\Romi-Code\Python-Code\GyanMatrix-IGN\ign.csv",index_col=0, header=0)
dataframe1.head()
## Reading a NON CSV which has does not have a header 
#dataframe2 = pd.read_table("D:\Romi-Code\Python-Code\sample.tsv",sep = '\t', header=None)

## Reading a file from internet
#ufo = pd.read_csv("http://bit.ly/uforeports")


## skiprows=None or x
## skipfooter=None or x


## No Header File
##### - Method 1 
#columns_list = ["Col1", "Col2","Col3","Col4","Col5","Col6",]
#dataframe2.columns = columns_list

#### - Method 2  - heade = 0 means header is in 0 record.
#dataframe2 = pd.read_table("D:\Romi-Code\Python-Code\sample.tsv",sep = '\t', header=None,names=columns_list)


### Read only a few a columns from csv - usecols
#dataframe2 = pd.read_table("D:\Romi-Code\Python-Code\sample.tsv",sep = '\t', header=None,names=columns_list, usecols=[0,4])

## Speed up reading a csv file  - only read 100 records
#dataframe2 = pd.read_table("D:\Romi-Code\Python-Code\sample.tsv",sep = '\t', header=None,names=columns_list,nrows=100)

## Read data from series and iterate
for c in ufo.city
    print(c)
    
## for data from dataframe and iterate
for index, row in ufo.iteraterows():
    print(index, row.city, row.state)
    
    
## Only keep the numeric columns
import numpy as np
dataframe.select_dtypes(include[np.number])

## Select a Pandas series from a dataframe

1) You can use dataframe and dot(.) for columns which donot have space in its name
2) Yo need to use dataframe["column"] for columns which may or may not have a space in its name



### Tip - In Notebook - Shift + Tab 4 times will bring up help menu for the function or the attribute

In [ ]:
print type(ufo)
ufo.dtypes
ufo.shape
ufo.columns
#print ufo.head()
#print ufo.City
#print ufo["Shape Reported"]
#print ufo.describe(include=["object"])

### Find all columns in a df

df.columns


## Rename Columns

ufo.rename(columns={"Old Col Name1" : "New Col Name1", "Old Col Name2" : "New Col Name2", inplace=True })

## Simpler way to update all columns  - Must provide new cols for all old cols even if you want to keep them same
ufo_cols["new col 1", "new col 2", "new col 3"]

ufo.columns = ufo_cols


## Replace space from all cols in dataframe with underscrores
ufo.columns = ufo.columns.str.replace(' ', '_')




### Remove cols from dataframe  axis=0(default) is for row and axis=1 is for Col
ufo.drop("Colors Reported", axis=1, inplace=True)
ufo.drop(["Colors Reported", "City"], axis=1, inplace=True)

##### Removing 0 and 1 row from dataframe
ufo.drop([0,1],axis=0,inplace=True)



### Series is a col in dataframe - Sort movies dataframe on title col in desc order - Does not change the order in dataframe but only in the view
movies.title.sort_values(ascending=False)

### Series is a col in dataframe - Sort movies dataframe on title col in desc order 
movies["title"].sort_values()


#### To sort the dataframe on a col - To permanently sort, mention "inplace=True"
movies.sort_values(["title","duration"], ascending=False)


## Filter records in dataframe by col value   --- movies.duration >=200 creates series of boolens the same size of dataframe

movies[movies["duration"]>=200]
movies[movies.duration >=200]    


## Get just the single col 
movies[movies.duration >=200]    


### Filtering with multiple columns
movies[(movies["duration"]>=200) & (movies["ratings"]>=6)]

movies[(movies["duration"]>=200) | (movies["ratings"]>=6)]

movies[(movies["duration"]>=200) | ( (movies["genre"]== 'Drama') | (movies["ratings"]>=6) ) ]

movies[movies["genre"].isin("Drama", "Action", "Romance")]

## Find Number of duplicates in a column

df.column_name.duplicated().sum()


### Axis to Drop column or Row

#Axis zeeRow (0) is for a row 
#Axis oNE(1)     is for a columNE


dataframe.mean() ## This will generate mean for all Numeric cols in the dataframe
## default axis for mean is 0

#axis(0) has alias axis('index')
#axis(0) has alias axis('columns')

## String Operations
#To use string methods on Pandas series, you must use df.col.str.method()


#dataframe.column.str.upper()


## You can filter the dataframe also

#dataframe[dataframe.colname.str.contain['Chicken','Mouse']]


## Remove special characters from a col
dataframe[dataframe.col.str.replace('[','').str.replace(']','')]


##OR you can use regular expressions 
dataframe[dataframe.col.str.replace('[\[\]]','')

## Convert datatypes

dataframe.column.astype(float)


## Change datatype even before reading the csv

df = pd.read_csv('my.csv', dtype ={'colname':dtype})

df.Stringcol.str.replace('$','').astype(float).mean()



# Very helpful for analysis 
##convert the True False in a series to 0 or 1

df.col.str.contrains('Chicken').astype(int).head()

## group By

dataframe.groupby('col').coltouse.mean()
dataframe.groupby('col').coltouse.max()
dataframe.groupby('col').coltouse.min()

## Use multiple aggregation functions at once on a single col
dataframe.groupby('col').coltouse.agg(['count',',min','max','mean'])

## Use single aggregation functions on multiple columns (numeric only)
dataframe.groupby('col').mean()




## Explore a series


### df.col.describe()

### df.col.value_counts()

### df.col.value_counts(normalize=True)  ## Will get the percentage

df.col.unique()  ## Returns all unique values in the col
df.col.nunique()  ## Returns the number of unique values in the col


## histogram shows you the distribution of a numerical col
##df.col.plot(kind='hist')


## Crosstab


##  pd.crosstab(df.col1, df.col2)  # this will display the dataframe with 1 col  as row and 2nd as col with all values shown - very nice for analysis

## See example below

In [ ]:
import pandas as pd
movies = pd.read_csv('http://bit.ly/imdbratings')

pd.crosstab(movies.genre,movies.content_rating)
movies.columns

## Handle missing values in df
###### NaN stands for Not a Number but indicates that a value is missing


##df.isnull().tail
##df.notnull().tail

### Find number of missing values in each col

df.isnull().sum()  


### view only those records where a value for a particular col is missing

##df[df.col.isnull()]


### Drop all records where ANY col contains a null value
df.dropna(how='any')
df.dropna(how='any', inplace=True)

### Drop all records where ALL col contains a null value
df.dropna(how='all', inplace=True)

### Drop records if the cols x OR y contain null values
#### Use subset with any

df.dropna(subset=['col1','col2'],how='any', inplace=True)

### Only Drop a record if the cols x AND y contain null values
#### Use subset with ALL

df.dropna(subset=['col1','col2'],how='all', inplace=True)



## Count all values in a col - including null values

df[col].value_counts(dropna=False)

## Pandas Index
#### Change the index  for a dataframe
df.set_index('col',inplace=True)


## Find a value for a particular row and col
df.loc['index','col']


## Remove the name of the index  - which appears at the 2nd row and the 1st col

df.index.name = None


## Add back the index name

df.index.name = 'column name'


## Use the default index and move the col back to dataframe

###### Add back the index if you have removed the name
df.index.name = 'column name'
df.reset_index(inplace=True)



## tip
describe returns a series
df.describe().index  - count, mean and others returned - coz those are the indices
df.describe().columns


#### If a df has an index, and a single col is selected then the col will appear with the index

df.col.head()

df.col.values_count()  - Will display the col name and the number of values for each of that
df.col.values_count().values - will display only the vlues in an array and will not show the col names

df.col.values_count().values['index']  - returns only the counts value for a particular index


## Create a series and use it  - see below

In [ ]:

people = pd.Series([35000,25000],index=['Albania','Andorra'], name = 'population')
people

drinks=pd.read_csv('http://bit.ly/drinksbycountry')
drinks.set_index('country',inplace=True)
print drinks.beer_servings
print drinks.beer_servings * people 

## Notice that the series values were only multiplied for the countries present in the df as well as created series

In [9]:
pd.concat([drinks, people],axis=1).head()  # can concat row over rows or cols with cols  - New col added below

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,population
Afghanistan,0,0,0,0.0,Asia,NaN
Albania,89,132,54,4.9,Europe,35000.0
Algeria,25,0,14,0.7,Africa,NaN
Andorra,245,138,312,12.4,Europe,25000.0
Angola,217,57,45,5.9,Africa,NaN

## Select Multiple rows and cols from df


## Selectec 0,1, 2, and 9,10  rows
    drinks.loc[[0:2,9:10],:]

In [67]:

drinks = pd.read_csv('http://bit.ly/drinksbycountry')

#drinks.loc[[0,1,2,9,10],:]

#drinks.loc[0:2,:]

#drinks.loc[:,['country','wine_servings']]
#drinks.loc[:,'country':'wine_servings']


### Same results - different ways
#drinks.loc[0:2,'country':'total_litres_of_pure_alcohol']
#drinks.head(3).drop('continent',axis=1)

# loc is inclusive on both sides

#drinks.loc[drinks.country == 'India','beer_servings' ]
#drinks.loc[drinks.country == 'India','beer_servings': ]
#drinks.loc[drinks.country == 'India',['beer_servings','continent'] ]

## All rows but only cols 0 and 3
# iloc is for selecting rows using their Integer positions thats what 'i'stands for


#drinks.iloc[:,[0,3]]

## Notice that whenever we are passing multi value list - we must use the [] to specify the list

## iloc is inclusive of 1st param and exclusive of the 2nd param  
#drinks.iloc[:,0:3]

## Notice that whenever we are passing a : list - we must not use the [] to specify the param

#Select top 2 row
drinks.loc[0:2]


#select only first 2 cols  - remember iloc is 2nd param exclusive so  0 and 1 cols will be displayed
drinks.iloc[0:2,0:2]


## Try to avoid ix - try to use loc  - ix use only when you need to use index - number and column names or otherwise

## Use ix to get subset of data  - both sides inclusive for rows but right exclusive for cols
#drinks.ix[1:2,0:2]

#drinks.ix[0:2,1:2]


## Fill in Null values  - bfill and ffill are most useful for time series data

ufo.fillna(method='bfill').tail()

ufo.fillna(method='ffill').tail()

   beer_servings
0              0
1             89
2             25

## Make df smaller and faster

df.info(memory_usage='deep')
drinks.memory_usage(deep=True)
drinks.memory_usage(deep=True).sum()

## Change the strings to category datatype and then check memory usage
## Use this when no of distinct values is less
drinks.continent.cat.codes.head()  # Replaces strings in the col with a code - Makes another look up with for code to string 
drinks.memory_usage(deep=True)



## Do not use code to make a lookup if there are too many distinct values
## Following should be avoided since there are 193 distnct string values in the country col
print drinks.memory_usage(deep=True)
drinks['countries']=drinks.country.astype('category')
print drinks.memory_usage(deep=True)


### Using category dataype will improve performance of operations like groupby  etc

df={ID=[100,101,102,103], quality = ['good','very good','good', 'excellent']}

In [6]:
import pandas as pd
df=pd.DataFrame({'ID':[100,101,102,103], 'quality' : ['good','very good','good', 'excellent']})

In [7]:
df

    ID    quality
0  100       good
1  101  very good
2  102       good
3  103  excellent

In [8]:
df.sort_values('quality')

    ID    quality
3  103  excellent
0  100       good
2  102       good
1  101  very good

In [9]:
df['quality'] = df['quality'].astype('category', categories=['good','very good','excellent'], ordered= True)

In [13]:
print df.sort_values('quality')
print df.quality

    ID    quality
0  100       good
2  102       good
1  101  very good
3  103  excellent
0         good
1    very good
2         good
3    excellent
Name: quality, dtype: category
Categories (3, object): [good < very good < excellent]

In [14]:
df.loc[df.quality > 'good']

    ID    quality
1  101  very good
3  103  excellent

## Pandas for Kaggle

In [2]:
import pandas as pd
# Read in the Titanic subset for training
train = pd.read_csv('http://bit.ly/kaggletrain')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
#Craete a new list which will be used for features
features_cols = ['Pclass','Parch']

In [9]:
x=train.loc[:,features_cols]
x.shape

(891, 2)

In [10]:
y = train.Survived

In [11]:
## Scikit learn will understand if x and y are of proper shape 
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(x,y)

test=pd.read_csv('http://bit.ly/kaggletest')


# Create a new dataset 
x_new = test.loc[:,features_cols]
x_new.shape

new_pred_class = logreg.predict(x_new)


## We want to have PassengerId as first column so we use it as index
pd.DataFrame({'PassengerId':test.PassengerId,'Survived':new_pred_class}).set_index('PassengerId').to_csv('sub.csv')

## Save python object as file  - Following code will save train df as a file

In [ ]:
train.to_pickle('train.pkl')
pd.read_pickle('train.pkl')

In [ ]:
train.sample(n=3,randomstate=42)  # use randomstate for 
train.sample(frac=0.2,randomstate=42)  # To get 20 % of the rows