In [ ]:
print "how are you"

In [ ]:
100+200

In [ ]:
v=100+200
print v
print "sum of 100+200:" + str(v)

In [ ]:
hungry=1
if (hungry>0):
    print "bring food for rihaan"
else:
    print "play"

In [ ]:
sleep=1
hungry=1
if (sleep>1):
    print "make me sleep"
elif hungry>1:
    print "bring food for rihaan"
elif sleep>0 and hungry >0:
    print "rihanu is cranky"

In [ ]:
var=1
while var<4:
    print "pooja"
    var=var+1

In [ ]:
type(var)

In [ ]:
var = "pooja"
type(var)

In [ ]:
var = "pooja "
print "Var is " + str(var)
print type(var)

var = 123445
print "Var is " + str(var)
print type(var)

In [ ]:
var = 2.5
type(var)

In [19]:
var = [1,2,3,4]
print type(var)
print var

SyntaxError: invalid syntax (<ipython-input-19-ac5d4f60405d>, line 3)

In [18]:
var = [[1,2,3,4], "Romi", "Pooja", "Rihaan", "Mom"]
print type(var)
print var

<type 'list'>
[[1, 2, 3, 4], 'Romi', 'Pooja', 'Rihaan', 'Mom']

In [23]:
var = {[1,2,3,4]["Romi", "Pooja", "Rihaan", "Mom"]}
print type(var)
print var

TypeError: list indices must be integers, not tuple

In [25]:
p=[1,2,3]
type(p)

list

In [59]:
p=[1,"pooja",2,"agicha"]
print type(p)
print p[0:2]
for i in range(len(p)):
    print p[i]

<type 'list'>
[1, 'pooja']
1
pooja
2
agicha

In [74]:
t=["cooking", "dusting","coding"]
print t[0],t[2]
print t[1:3]
t2 = t[1]
print t2[0:4]

if t[2]=="coding":
    print "can u code now?"

cooking coding
['dusting', 'coding']
dust
can u code now?

In [49]:
dict={"name":"pooja", "lastname":"agicha"}
print dict

{'lastname': 'agicha', 'name': 'pooja'}

In [56]:
print len(dict["lastname"])

6

In [1]:
print ("poo")

poo

In [34]:
a=1
#for a in (1,4):
for a in range(1,5):
    print ('a ({}) is less than 5'.format(a))
    a=a+1
else:
    print ("range is over")

a (1) is less than 5
a (2) is less than 5
a (3) is less than 5
a (4) is less than 5
range is over

In [35]:
import pandas as pd

In [40]:
pd.DataFrame({'id':[1,2,3], 'name':["pooja","rome","rihaan"], 'age':[31,31,1] }, columns=['id','name','age'])

   id    name  age
0   1   pooja   31
1   2    rome   31
2   3  rihaan    1

In [22]:
df=pd.DataFrame({'serial#':[100,101,200], 'product':['mobile', 'charger','mouse'], 'cost':[5000,100,200]}, columns=['serial#','product','cost'], index=['a','b','c'])

In [46]:
df1=pd.DataFrame([[11,'red'],[12,'blue'],[13,'green']])

df1

In [47]:
print df1

    0      1
0  11    red
1  12   blue
2  13  green

In [48]:
pd.DataFrame([[11,'red'],[12,'blue'],[13,'green']])

    0      1
0  11    red
1  12   blue
2  13  green

In [49]:
pd.DataFrame([[11,'red'],[12,'blue'],[13,'green']], columns=['Sr#', 'Color'])

   Sr#  Color
0   11    red
1   12   blue
2   13  green

In [52]:
import numpy as np
arr=np.random.rand(6,2)
arr

array([[ 0.81811342,  0.50571642],
       [ 0.62140446,  0.48259469],
       [ 0.22290802,  0.64514829],
       [ 0.54307763,  0.37674578],
       [ 0.79914473,  0.96146537],
       [ 0.45365183,  0.73396067]])

In [53]:
pd.DataFrame(arr, columns=['number', 'value'])

     number     value
0  0.818113  0.505716
1  0.621404  0.482595
2  0.222908  0.645148
3  0.543078  0.376746
4  0.799145  0.961465
5  0.453652  0.733961

In [56]:
arr1=np.random.rand(8,2)
arr1

array([[ 0.42460341,  0.96300946],
       [ 0.72424494,  0.88749591],
       [ 0.95911057,  0.19396641],
       [ 0.09133361,  0.00285328],
       [ 0.72816895,  0.06804942],
       [ 0.57190217,  0.23921807],
       [ 0.13931417,  0.07425739],
       [ 0.67353681,  0.64436567]])

In [20]:
import pandas as pd
import numpy as np
pd.DataFrame({'student':np.arange(100,110,1), 'test':np.random.randint(2,11,10)}).set_index('student')

         test
student
100         2
101         4
102         3
103        10
104         2
105         7
106         2
107         6
108         7
109         5

In [21]:
df

NameError: name 'df' is not defined

In [26]:
fd=pd.DataFrame({'id':[100,101,102], 'color':["red","blue","red"]},columns=('id', 'color'),index=['a','b','c'])
fd

    id color
a  100   red
b  101  blue
c  102   red

In [28]:
s=pd.Series(['round','square'],index=['c','b'], name='shape')
s

c     round
b    square
Name: shape, dtype: object

In [31]:
pd.concat([fd,s] , axis=1)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round

In [32]:
movies=pd.read_csv('http://bit.ly/imdbratings')

In [33]:
movies.head

<bound method DataFrame.head of      star_rating                                              title  \
0            9.3                           The Shawshank Redemption
1            9.2                                      The Godfather
2            9.1                             The Godfather: Part II
3            9.0                                    The Dark Knight
4            8.9                                       Pulp Fiction
5            8.9                                       12 Angry Men
6            8.9                     The Good, the Bad and the Ugly
7            8.9      The Lord of the Rings: The Return of the King
8            8.9                                   Schindler's List
9            8.9                                         Fight Club
10           8.8  The Lord of the Rings: The Fellowship of the Ring
11           8.8                                          Inception
12           8.8     Star Wars: Episode V - The Empire Strikes Back
13           8.8                                       Forrest Gump
14           8.8              The Lord of the Rings: The Two Towers
15           8.7                                       Interstellar
16           8.7                    One Flew Over the Cuckoo's Nest
17           8.7                                      Seven Samurai
18           8.7                                         Goodfellas
19           8.7                                          Star Wars
20           8.7                                         The Matrix
21           8.7                                        City of God
22           8.7                              It's a Wonderful Life
23           8.7                                 The Usual Suspects
24           8.7                                              Se7en
25           8.6                                  Life Is Beautiful
26           8.6                       Once Upon a Time in the West
27           8.6                           The Silence of the Lambs
28           8.6                             Leon: The Professional
29           8.6                                        City Lights
..           ...                                                ...
949          7.4                                         Home Alone
950          7.4                                              Bound
951          7.4                                      Sleepy Hollow
952          7.4                                       Pirate Radio
953          7.4                              The NeverEnding Story
954          7.4                                              X-Men
955          7.4                                   Zero Dark Thirty
956          7.4                           Manhattan Murder Mystery
957          7.4                        National Lampoon's Vacation
958          7.4                                 My Sister's Keeper
959          7.4                               Deconstructing Harry
960          7.4                                   The Way Way Back
961          7.4                                             Capote
962          7.4                                 Driving Miss Daisy
963          7.4                                    La Femme Nikita
964          7.4                                            Lincoln
965          7.4                                          Limitless
966          7.4                                 The Simpsons Movie
967          7.4                                           The Rock
968          7.4                                The English Patient
969          7.4                                Law Abiding Citizen
970          7.4                                        Wonder Boys
971          7.4                                 Death at a Funeral
972          7.4                                     Blue Valentine
973          7.4                              The Cider House Rules
974          7.4                                            Tootsie
975          7.4                        Back to the Future Part III
976          7.4    Master and Commander: The Far Side of the World
977          7.4                                        Poltergeist
978          7.4                                        Wall Street

    content_rating      genre  duration  \
0                R      Crime       142
1                R      Crime       175
2                R      Crime       200
3            PG-13     Action       152
4                R      Crime       154
5        NOT RATED      Drama        96
6        NOT RATED    Western       161
7            PG-13  Adventure       201
8                R  Biography       195
9                R      Drama       139
10           PG-13  Adventure       178
11           PG-13     Action       148
12              PG     Action       124
13           PG-13      Drama       142
14           PG-13  Adventure       179
15           PG-13  Adventure       169
16               R      Drama       133
17         UNRATED      Drama       207
18               R  Biography       146
19              PG     Action       121
20               R     Action       136
21               R      Crime       130
22        APPROVED      Drama       130
23               R      Crime       106
24               R      Drama       127
25           PG-13     Comedy       116
26           PG-13    Western       175
27               R      Drama       118
28               R      Crime       110
29          PASSED     Comedy        87
..             ...        ...       ...
949             PG     Comedy       103
950              R      Crime       108
951              R      Drama       105
952              R     Comedy       117
953             PG  Adventure       102
954          PG-13     Action       104
955              R      Drama       157
956             PG     Comedy       104
957              R     Comedy        98
958          PG-13      Drama       109
959              R     Comedy        96
960          PG-13     Comedy       103
961              R  Biography       114
962             PG     Comedy        99
963              R     Action       118
964          PG-13  Biography       150
965          PG-13    Mystery       105
966          PG-13  Animation        87
967              R     Action       136
968              R      Drama       162
969              R      Crime       109
970              R      Drama       107
971              R     Comedy        90
972          NC-17      Drama       112
973          PG-13      Drama       126
974             PG     Comedy       116
975             PG  Adventure       118
976          PG-13     Action       138
977             PG     Horror       114
978              R      Crime       126

                                           actors_list
0    [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1      [u'Marlon Brando', u'Al Pacino', u'James Caan']
2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3    [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4    [u'John Travolta', u'Uma Thurman', u'Samuel L....
5    [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
6    [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
8    [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
9    [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...
10   [u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...
11   [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...
12   [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
13     [u'Tom Hanks', u'Robin Wright', u'Gary Sinise']
14   [u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...
15   [u'Matthew McConaughey', u'Anne Hathaway', u'J...
16   [u'Jack Nicholson', u'Louise Fletcher', u'Mich...
17   [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
18    [u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']
19   [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
20   [u'Keanu Reeves', u'Laurence Fishburne', u'Car...
21   [u'Alexandre Rodrigues', u'Matheus Nachtergael...
22   [u'James Stewart', u'Donna Reed', u'Lionel Bar...
23   [u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa...
24   [u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac...
25   [u'Roberto Benigni', u'Nicoletta Braschi', u'G...
26   [u'Henry Fonda', u'Charles Bronson', u'Claudia...
27   [u'Jodie Foster', u'Anthony Hopkins', u'Lawren...
28   [u'Jean Reno', u'Gary Oldman', u'Natalie Portm...
29   [u'Charles Chaplin', u'Virginia Cherrill', u'F...
..                                                 ...
949  [u'Macaulay Culkin', u'Joe Pesci', u'Daniel St...
950  [u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan...
951  [u'Johnny Depp', u'Christina Ricci', u'Miranda...
952  [u'Philip Seymour Hoffman', u'Bill Nighy', u'N...
953  [u'Noah Hathaway', u'Barret Oliver', u'Tami St...
954  [u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc...
955  [u'Jessica Chastain', u'Joel Edgerton', u'Chri...
956  [u'Woody Allen', u'Diane Keaton', u'Jerry Adler']
957  [u'Chevy Chase', u"Beverly D'Angelo", u'Imogen...
958  [u'Cameron Diaz', u'Abigail Breslin', u'Alec B...
959  [u'Woody Allen', u'Judy Davis', u'Julia Louis-...
960  [u'Steve Carell', u'Toni Collette', u'Allison ...
961  [u'Philip Seymour Hoffman', u'Clifton Collins ...
962  [u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay...
963  [u'Anne Parillaud', u'Marc Duret', u'Patrick F...
964  [u'Daniel Day-Lewis', u'Sally Field', u'David ...
965  [u'Bradley Cooper', u'Anna Friel', u'Abbie Cor...
966  [u'Dan Castellaneta', u'Julie Kavner', u'Nancy...
967   [u'Sean Connery', u'Nicolas Cage', u'Ed Harris']
968  [u'Ralph Fiennes', u'Juliette Binoche', u'Will...
969  [u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']
970  [u'Michael Douglas', u'Tobey Maguire', u'Franc...
971  [u'Matthew Macfadyen', u'Peter Dinklage', u'Ew...
972  [u'Ryan Gosling', u'Michelle Williams', u'John...
973  [u'Tobey Maguire', u'Charlize Theron', u'Micha...
974  [u'Dustin Hoffman', u'Jessica Lange', u'Teri G...
975  [u'Michael J. Fox', u'Christopher Lloyd', u'Ma...
976  [u'Russell Crowe', u'Paul Bettany', u'Billy Bo...
977  [u'JoBeth Williams', u"Heather O'Rourke", u'Cr...
978  [u'Charlie Sheen', u'Michael Douglas', u'Tamar...

[979 rows x 6 columns]>

In [34]:
 pd.read_csv('http://bit.ly/imdbratings')

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
15,8.7,Interstellar,PG-13,Adventure,169,"[u'Matthew McConaughey', u'Anne Hathaway', u'J..."
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']"
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F..."
...,...,...,...,...,...,...
949,7.4,Home Alone,PG,Comedy,103,"[u'Macaulay Culkin', u'Joe Pesci', u'Daniel St..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
952,7.4,Pirate Radio,R,Comedy,117,"[u'Philip Seymour Hoffman', u'Bill Nighy', u'N..."
953,7.4,The NeverEnding Story,PG,Adventure,102,"[u'Noah Hathaway', u'Barret Oliver', u'Tami St..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
956,7.4,Manhattan Murder Mystery,PG,Comedy,104,"[u'Woody Allen', u'Diane Keaton', u'Jerry Adler']"
957,7.4,National Lampoon's Vacation,R,Comedy,98,"[u'Chevy Chase', u""Beverly D'Angelo"", u'Imogen..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
959,7.4,Deconstructing Harry,R,Comedy,96,"[u'Woody Allen', u'Judy Davis', u'Julia Louis-..."
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ..."
961,7.4,Capote,R,Biography,114,"[u'Philip Seymour Hoffman', u'Clifton Collins ..."
962,7.4,Driving Miss Daisy,PG,Comedy,99,"[u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
964,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ..."
965,7.4,Limitless,PG-13,Mystery,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor..."
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [35]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [36]:
movies.shape()

TypeError: 'tuple' object is not callable

In [1]:
type(false)

NameError: name 'false' is not defined

In [2]:
type(False)

bool

In [4]:
booleans=[]
    for length in movies.duration:
        if length>=200:
            booleans.append(True)
            else:
                booleans.append(False)

SyntaxError: invalid syntax (<ipython-input-4-e139d9150cab>, line 1)